<div class="row area-grey">
<app-messages></app-messages>
</div>
<div class="row">
<div class="col-sm-3">
    <app-sql-input></app-sql-input>
  </div>
  <div class="col-sm-9">
    <app-sheets></app-sheets>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-output-sheets></app-output-sheets>
  </div>
</div>
