.card {
  border: 0;
}

.card-body {
  padding: 0;
}

.card-header {
  min-height: 54px;
}

.card-header-tabs {
  margin-left: -20px;
}

:host >>> .ui-table .ui-table-tbody td {
  border-left:0;
  padding:0.1em;
}

:host >>> .ui-table .ui-table-thead td {
  border-left:0;
}

:host >>> .ui-table .ui-table-thead th {
  border-left:0;
  padding:0.4em;
}

.nav-item-plus {
  position: relative;
  left: 8px;
}

>>> body .ui-paginator
{
  border-left: 0;
  border-bottom: 0;
}
