<block-ui>
  <div class="card text-center sheet">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let sheet of sheets; index as i">
          <a class="nav-link" [ngClass]="active === i ? 'active' : ''" (click)="active=i">
            {{sheet.name}}
            <button type="button" class="close" aria-label="Close" (click)="onClose(i)">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </li>
        <li class="nav-item" *ngIf="active==-1">
          <a class="nav-link" [ngClass]="active === -1 ? 'active' : ''" (click)="active=-1">New</a>
        </li>
        <button *ngIf="active!=-1" type="button" class="close nav-item-plus" aria-label="Add" (click)="active=-1">
          <span aria-hidden="true">+</span>
        </button>
      </ul>
    </div>
    <div class="card-body">
      <p-table [tableStyle]="{'table-layout':'auto'}" [columns]="sheets[active].columns"
               [value]="sheets[active].content" [resizableColumns]="true" columnResizeMode="expand"
               [paginator]="true" [rows]="100" *ngIf="sheets.length>0 && active >= 0 &&
               resizeSheetTableHeight()">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" pResizableColumn>
              {{col.value}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns | keyvalue" class="ui-resizable-column">
              {{rowData[col.key]}}
            </td>
          </tr>
        </ng-template>
      </p-table>

      <app-csv-upload *ngIf="active == -1"></app-csv-upload>
    </div>
  </div>
</block-ui>
