<div class="row">
  <div class="offset-sm-2 col-sm-8 offset-lg-4 col-lg-4 mt-5">
    <form>
      <div class="form-group">
        <p-fileUpload name="upload" (onSelect)="onFile($event)" (onRemove)="onRemove($event)"
                      auto="true" showButtons="false" accept=".csv, .xls, .xlsx">
        </p-fileUpload>
      </div>
      <div class="form-group" *ngIf="showCSV">
        <label for="encoding">Encoding</label>
        <input name="encoding" [(ngModel)]="encoding" type="text" class="form-control" id="encoding">
      </div>
      <div class="form-group" *ngIf="showCSV">
        <label for="delimiter">Delimiter</label>
        <input name="delimiter" [(ngModel)]="delimiter" type="text" class="form-control" id="delimiter">
      </div>
      <div class="form-group" *ngIf="showExcel">
        <label for="row">Header row of sheet (Multiple sheets 1,1,2)</label>
        <input name="row" [(ngModel)]="row" type="text" class="form-control" id="row">
      </div>
      <a class="btn btn-primary btn-block color text-white" [ngClass]="uploadedFile == null ? 'disabled' : ''" (click)="onUpload()">Upload</a>
    </form>
  </div>
</div>
