<nav class="navbar navbar-dark bg-primary">
  <button class="navbar-toggler sidebar-toggler" type="button" data-toggle="sidebar-show"
          (click)="isVisible = !isVisible">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<nav class="sidenav" [style.width]="isVisible ? '250px' : '0px'">
  <ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="exportActive = !exportActive">Export</a>
    <a href="#" class="list-group-item list-group-item-action inner-list" (click)="exportCsv()"
       *ngIf="exportActive">CSV</a>
    <a href="#" class="list-group-item list-group-item-action inner-list" (click)="exportExcel()" *ngIf="exportActive">Excel</a>
  <br>
    <a href="#" class="list-group-item list-group-item-action"
       aria-expanded="false">About</a>
    <a href="https://bitbucket.org/fabianwipfli/exsql/" class="list-group-item list-group-item-action inner-list">Version</a>
  </ul>
</nav>

<div [ngClass]="isVisible ? 'mainContentVisible' : ''" (click)="isVisible = false">
</div>

<p-dialog header="CSV" [(visible)]="showDialog" [width]="300">
<app-csv-export [showCSV]="true" [showExcel]="false"></app-csv-export>
</p-dialog>
