.navbar {
  /*height: 80px;*/
}

/* The side navigation menu */
.sidenav {
  position: absolute; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 56px; /* Stay at the top */
  height: 100%;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
}

/* The navigation menu links */
.sidenav a {
  color: #818181;
  transition: 0.3s;
  border: 0;
}

.sidenav a:hover {
  color: #818181 !important;
}

.mainContentVisible {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; /* Stay on top */
  left:250px;
}

.inner-list {
  margin-left: 40px;
}

.inner-list-text {
  color:#818181;
  margin-left: 60px;
}
