<div class="card text-center output">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let sheet of sheets; index as i">
        <a class="nav-link" [ngClass]="active === i ? 'active' : ''" (click)="active=i">{{sheet.name}}</a>
      </li>
      <li>
      <a class="nav-link active" *ngIf="sheets.length==0">Result</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <p-table [tableStyle]="{'table-layout':'auto'}" [columns]="sheets[active].columns"
             [value]="sheets[active].content" [resizableColumns]="true" columnResizeMode="expand"
             [paginator]="true" [rows]="100" *ngIf="sheets.length>0 && active >= 0 && resizeOutputTableHeight()">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn>
            {{col.value}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns | keyvalue" class="ui-resizable-column">
            {{rowData[col.key]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
