<div class="card">
  <h6 class="card-header">
  </h6>
  <div class="card-body">
    <form>
      <div class="form-group codemirrorWrapper">
        <div class="code-editor" #codeEditor></div>
        <div class="btnWrapper">
          <a class="btn btn-primary btn-block color text-white" (click)="onSelect()">Run</a>
        </div>
      </div>
    </form>
  </div>
</div>
