.card {
  border:0;
  height: calc(100% - (40px));
}
.card-body {
  padding: 0;
}
.card-header {
  height: 54px;
  padding: 20px 0 0 20px;
}

textarea {
  resize: none;
}

textarea.form-control {
  border-top: 0;
  border-radius: 0;
}

.form-group {
  margin-bottom: 0;
}

.card-body form {
  height: 100%;
}

.btnWrapper {
  padding-left: 40px;
  background-color: #e8e8e8;
}

.codemirrorWrapper {
  border-right: 1px solid rgba(0,0,0,.125);
  height: 100%;
}
:host .ace_editor {
  height: 100% !important;
}

