    <form>
      <div class="form-group" *ngIf="showCSV">
        <label for="encoding">Encoding</label>
        <input name="encoding" [(ngModel)]="encoding" type="text" class="form-control" id="encoding">
      </div>
      <div class="form-group" *ngIf="showCSV">
        <label for="delimiter">Delimiter</label>
        <input name="delimiter" [(ngModel)]="delimiter" type="text" class="form-control" id="delimiter">
      </div>
      <a class="btn btn-primary btn-block color text-white" *ngIf="showCSV" (click)="onExportCsv()">Download</a>
      <a class="btn btn-primary btn-block color text-white" *ngIf="showExcel" (click)="onExportExcel()">Download</a>
    </form>
